* {
    margin: 0;
    padding: inherit;
    font-family: 'Montserrat', sans-serif;
}
.title {
    font-size: 4em;
    color: white;
    padding-bottom: 0;
    padding-left: 0px;

}
.subtitle {
    color: white;
    font-weight: normal;
    padding-top: 0;
    padding-left: 0px;
}

.header {
    padding: 30px;
    background-color: #016362;
}
.enunciado {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: #ff914d;
}
.pergunta {
    padding-top: 40px;
    padding-right: 40;
    padding-bottom: 10px;
    font-weight: bold;
    padding-left: 40px;
}

h2 {
    font-weight: normal;
    color: white;
    padding-left: 0;
}
.opcoes {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 40px;
}
label {
    padding-left: 7px;
}
.fim {
    padding: 30px;
    justify-content: center;
    width: 100vw;
    display: flex;
    align-items: center;
}

.enviar {
    background-color: #016362;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
	padding: 10px 20px 10px 20px;
	border-style: none;
	border-radius: 10px;
}
